<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-matdaan Result</title>
    
</head>

<body>
    
   <center>
    <h2>Voting results</h1>
    <table border="1">
        <tr>
          <th>Candidate</th>
          <th>Votes</th>
        </tr>
        <tr>
          <td>Shreyas</td>
          <td> <%=votes[0]%> </td>
        </tr>
        <tr>
            <td>Niharika</td>
            <td> <%=votes[1]%> </td>
        </tr>
        <tr>
            <td>Shivani</td>
            <td> <%=votes[2]%> </td>
        </tr>
        <tr>
            <td>Satiram</td>
            <td> <%=votes[3]%> </td>
        </tr>
      </table>
    </center>
    
    
    
</body>
</html>